.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* React Logo */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main Page */

:root {
  --graph-bg-color: white;
  --eqbar-bg-color: white;

}

main {
  width: 100vw;
  justify-content: space-around;
  align-items: stretch;
}

.flex-container {
  display: flex;
}

/* Graph */

#graph {
  background-color: var(--graph-bg-color);
  min-height: 100vh;
  max-width: 100vw;
  flex-basis: 67vw;
  flex-grow: 1;
}

/* Equation Sidebar */

#eqbar {
  background-color: var(--eqbar-bg-color);
}

#eq-graph-border {
  width: 5px;
  background-color: var(--eqbar-bg-color);
}

#eq-graph-border:hover {
  cursor: ew-resize;
}

